html,
body,
ul,
ol {
   margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $black20;
  font-family: 'Montserrat', sans-serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.force-hardware-acceleration {
  transform:translate3d(0, 0, 0);
  backface-visibility:hidden;
  perspective:1000;
}

.unclickable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  pointer-events: none;
}

.unselectable {
  user-drag: none;
  user-select: none;
}

.btn {
  color: $black0;
  text-decoration: none;
  border: 2px solid $black0;
  padding: 15px 22px;
  border-radius: 250px;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  transition: 0.2s background-color ease-out, 0.9s color ease-out;
  text-transform: uppercase;

  &:hover {
    background-color: $black0;
    color: $black100;
    cursor: pointer;
  }

  &.fill {
    background-color: $black100;
    color: $black0;
    border-color: $black100;

    &:hover {
      background-color: $black0;
      color: $black100;
    }
  }
  &.arrow-left {
    position: relative;
    padding-left: 50px;

    &:hover {
      &::before {
        background-image: url('../assets/arrow-up-dark.svg');
      }
    }
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-image: url('../assets/arrow-up-light.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 50%;
      left: 17px;
      transform: translateY(-50%);
    }
  }
  &.arrow-right {
    position: relative;
    padding-right: 50px;

    &:hover {
      &::before {
        background-image: url('../assets/arrow-up-dark.svg');
      }
    }
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-image: url('../assets/arrow-up-light.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
    }
  }
}

.big-button-with-icon {
  display: block;
  height: auto;
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  background-color: rgba($black0,0.7);
  box-shadow: 0 0 4px 0 rgba($black100,0.5);
  padding: 20px 20px 20px 210px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #1A1915;
  font-size: 28px;
  font-weight: bold;
  line-height: 35px;
  text-decoration: none;
  text-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
  background-repeat: no-repeat;
  background-position: left 20px center;
  transition: 0.2s background ease-in-out;
  margin-top: 20px;
  margin-bottom: 20px;

  @include media(600px) {
    width: 100%;
    max-width: 230px;
    margin: 20px auto;
    padding: 140px 10px 10px 10px;
    background-position: top 30px center;
    text-align: center;
  }

  &:hover {
    background-color: $black20;
  }

  &.pdf {
    background-size: 150px;
    background-image: url('../assets/pdf-icon.svg');
  }
}