main#contact {

  #hero {
    background-image: url('../assets/images/hero-contact.jpg');
    background-position: bottom center;

    @include media(1024px) {
      background-position: bottom center;
    }
    @include media(768px) {
      background-position: bottom center;
    }

    .wrapper {
      padding-top: 205px;
      padding-bottom: 380px;

      @include media(1024px) {
        padding-top: 215px;
        padding-bottom: 280px;
      }
      @include media(768px) {
        padding-bottom: 250px;
      }
      @include media(480px) {
        padding-top: 170px;
        padding-bottom: 270px;
      }
    }
  }
  #contact-form {
    margin-top: -100px;
    margin-bottom: 20px;

    @include media(480px) {
      margn-top: -140px;
    }

    .wrapper {
      @include wrapper;

      .background {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        .form-panel {
          background-color: rgba($black0, 0.7);
          width: 480px;
          max-width: 100%;
          padding: 20px 30px;
          box-sizing: border-box;

          @include media(480px) {
            padding: 20px;
          }

          h2 {
            @include font-section-heading;
            margin-top: 0;
          }
          p {
            @include font-section-content;
            width: 370px;
            max-width: 100%;
          }
          form {
            display: block;

            input {
              display: block;
              width: 100%;
              box-sizing: border-box;
              margin: 15px 0;
              height: 50px;
              padding: 0 20px;
              background: rgba($black0, 0.7);
              border: 1px solid $black40;
              border-radius: 2px;
              text-align: left;
              font-size: 14px;
              color: $black100;
              font-family: Montserrat, sans-serif;
              font-weight: 500;
              line-height: 50px;
              transition: 0.1s border-color ease-out;

              &:focus {
                border-color: $black0;
              }
              &:hover {
                border-color: $black100;
              }
            }
            button {
              width: 100%;
              border-radius: 2px;
              border-width: 1px;
              border-color: $black80;
              background-color: $black80;
              text-transform: none;
              text-align: left;

              &:hover {
                background-color: rgba($black0, 0.7);
              }
            }
          }
        }
      }
    }
  }
  #contact-map {
    margin-top: 20px;
    margin-bottom: 60px;

    .wrapper {
      @include wrapper;

      .background {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        .address-panel {
          background-color: rgba($black0, 0.7);
          width: 480px;
          max-width: 100%;
          padding: 20px 30px;
          box-sizing: border-box;

          @include media(480px) {
            padding: 20px;
          }

          h2 {
            @include font-section-heading;
            margin-top: 0;
          }
          p {
            @include font-section-content;
            width: 370px;
            max-width: 100%;

            a {
              color: $black60;
              text-decoration: none;
              transition: 0.1s color ease-out;

              &:hover {
                color: $black100;
              }
            }
          }
          .btn {
            display: block;
          }
        }
      }
    }
  }
}
