footer {
  background-color: #3B3E43;

  #newsletter {
    .wrapper {
      @include wrapper;
      padding-top: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .open-day {
        width: 550px;
        margin-right: 40px;

        h3 {
          @include font-menu-item;
          text-align: left;
          font-size: 18px;
          letter-spacing: 0.69px;
          text-transform: none;
        }
        p {
          text-align: left;
          font-size: 14px;
          color: $black40;
        }
      }
      .newsletter {
        flex: 1;
        form {
          padding-right: 50px;
          position: relative;
          display: flex;
          flex-wrap: wrap;
          justify-content:flex-start;
          align-items: center;
          
          input {
            flex: 1;
            height: 50px;
            padding: 0 20px;
            margin: 15px;
            background: transparent;
            border: 1px solid $black40;
            border-radius: 2px;
            text-align: left;
            font-size: 14px;
            color: $black0;
            font-family: Montserrat, sans-serif;
            font-weight: 500;
            line-height: 50px;
          }
          button {
            position: absolute;
            right: 0;
            top: 15px;
            bottom: 15px;
            width: 50px;
            background: transparent;
            border: 1px solid $black40;
            border-radius: 2px;
            color: transparent;
          }
        }
      }
    }
  }

  #last-block {
    height: 300px;
    background-image: url('../assets/crossover-logo-footer.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: 20px;

    @include media(1024px) {
      height: 380px;
      background-position: bottom -35px left;
    }
    @include media(768px) {
      background-position: bottom -65px left -10px;
      height: auto;
    }
    @include media(480px) {
      background-image: url('../assets/crossover-logo-footer-mobile.svg');
      background-position: bottom center;
      padding-bottom: 150px;
    }

    .wrapper {
      @include wrapper;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
      padding: 60px 0 0 150px;
      box-sizing: border-box;

      @include media(1280px) {
        padding-left: 150px;
      }
      @include media(1024px) {
        padding-left: 20px;
        padding-top: 50px;
      }
      @include media(768px) {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        padding-top: 60px;
      }

      .contact {
        width: 220px;

        @include media(768px) {
          text-align: center;
          margin: 60px auto 0;
        }
        @include media(480px) {
          width: 100%;
        }

        h3 {
          @include font-menu-item;
          text-transform: none;
          text-align: left;
          font-size: 18px;
          letter-spacing: 0.69px;

          @include media(1024px) {
            text-align: center;
            margin-top: 0;
            margin-bottom: 40px;
          }
        }
        p {
          color: $black40;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          
          a {
            color: $black40;
            text-decoration: none;
            transition: 0.1s color ease-out;
            
            &:hover {
              color: $black0;
            }
          }
        }
      }
      .social {
        width: 740px;

        @include media(1024px) {
          width: 470px;
        }
        @include media(768px) {
          margin: 0 auto;
          text-align: center;
        }
        @include media(480px) {
          width: 100%;
        }

        h3 {
          @include font-menu-item;
          text-transform: none;
          text-align: left;
          font-size: 18px;
          letter-spacing: 0.69px;

          @include media(1024px) {
            text-align: center;
            margin-top: 0;
            margin-bottom: 40px;
          }
        }
        ul {
          list-style-type: none;

          li {
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            overflow: hidden;
            margin-right: 40px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            transition: 0.2s transform ease-out;

            &:hover {
              transform: translateY(-3px);
            }

            &.facebook {
              background-image: url('../assets/facebook-logo.svg');
            }
            &.twitter {
              background-image: url('../assets/twitter-logo.svg');

              @include media(480px) {
                margin: 0;
              }
            }
            &.newsletter {
              height: auto;
              width: auto;

              @include media(480px) {
                margin-top: 40px;
                margin-right: 0;
              }

              input {
                height: 25px;
                width: 253px;
                border: 1px solid $black0;
                border-radius: 2px;
                background-color: $black20;
                color: $black60;
                font-family: Montserrat, sans-serif;
                font-size: 13px;
                font-weight: 300;
                line-height: 16px;
                padding: 5px 10px;
                box-sizing: border-box;
              }
              button {
                height: 25px;
                width: 25px;
                border: 0;
                padding:0;
                background-color: transparent;
                color: transparent;
                margin: 0 0 0 -30px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 17px;
                background-image: url('../assets/arrow-up-dark.svg');

                &:hover {
                  cursor: pointer;
                }

              }
            }
            a {
              color: transparent;
            }
          }
        }
      }
    }
    .copyright {
      margin:0;
      padding: 40px 0 0 0;
      color: $black40;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      text-align: center;

      @include media(1024px) {
        padding: 120px 0 0 0;
      }
      @include media(480px) {
        padding: 30px 0 0 0;
      }
    }
  }
}
