main#swift {

  #hero {
    background-image: url('../assets/images/hero-swift.png');
    background-position: bottom center;

    @include media(1024px) {
      background-position: bottom left;
    }
    @include media(480px) {
      background-position: bottom center;
    }

    .wrapper {
      padding-top: 205px;
      padding-bottom: 370px;

      @include media(1024px) {
        padding-top: 215px;
        padding-bottom: 310px;
      }
      @include media(768px) {
        padding-bottom: 400px;
      }
      @include media(480px) {
        padding-top: 170px;
        padding-bottom: 170px;
      }
    }
  }
  #first {
    margin-top: 0;
    padding: 40px 0 150px 0;

    @include media(1024px) {
      padding-bottom: 60px;
      margin-top: -50px;
    }
    @include media(768px) {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 210px;
    }
    @include media(720px) {
      padding-bottom: 30px;
    }
    @include media(480px) {
      margin-top: -10px;
    }

    .wrapper {
      @include wrapper;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      @include media(720px) {
        display: block;
      }

      .text {
        width: 600px;

        @include media(720px) {
          width: 100%;
        }

        h2 {
          @include font-section-heading;
          z-index: 100;
          position: relative;
        }
        p {
          @include font-section-content;
          width: 400px;
          z-index: 100;
          position: relative;

          @include media(768px) {
            width: auto;
            padding-left: 60px;
          }
          @include media(480px) {
            padding-left: 0;
          }
        }
        .big-button-with-icon {
          z-index: 100;
          position: relative;

          @include media(768px) {
            margin-left: 60px;
          }
          @include media(600px) {
            margin-left: auto;
          }
        }
      }
      .images {
        position: absolute;
        bottom: -30px;
        right: 0;

        @include media(1024px) {
          bottom: 100px;
        }
        @include media(768px) {
          bottom: -430px;
          left: 50%;
          transform: translateX(-50%);
          right: initial;
        }
        @include media(720px) {
          position: relative;
          top: initial;
          left: initial;
          bottom: initial;
          right: initial;
          width: 100%;
          transform: none;
          margin-bottom: 85px;
        }

        .large {
          width: 800px;
          height: 470px;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          overflow: hidden;

          @include media(1024px) {
            width: 510px;
            height: 340px;
          }
          @include media(768px) {
            width: 600px;
          }
          @include media(720px) {
            width: 100%;
            height: auto;
          }

          img {
            max-width: 100%;
            height: auto;
            opacity:0;
          }
        }
        .small {
          width: 350px;
          height: 230px;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          right: 40px;
          bottom: -70px;
          overflow: hidden;

          @include media(1024px) {
            width: 350px;
            height: 225px;
            right: 50px;
            bottom: -170px;
          }
          @include media(768px) {
            right: 40px;
            bottom: -40px;
          }
          @include media(720px) {
            right: 10px;
            bottom: -80px;
          }
          @include media(480px) {
            right: 10px;
            bottom: -110px;
            height: 160px;
            width: 110px;
          }

          img {
            max-width: 100%;
            height: auto;
            opacity:0;
          }
        }
      }
    }
  }
  #second {
    background: $black80;
    padding: 80px 0;

    @include media(1315px) {
      padding: 70px 0;
    }
    @include media(768px) {
      padding: 310px 0 30px 0;
    }
    @include media(720px) {
      padding: 30px 0 30px 0;
    }

    .wrapper {
      @include wrapper;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

      .text {
        max-width: 600px;
        padding-right: 20px;

        @include media(1315px) {
          text-align: center;
          margin: 0 auto;
          padding: 0;
        }
        @include media(480px) {
          text-align: left;
        }

        h2 {
          @include font-section-heading;
          width: 600px;
          color: $black0;
          z-index: 100;
          position: relative;

          @include media(1315px) {
            margin: 0 auto;
          }
          @include media(720px) {
            margin-top: 20px;
            width: auto;
          }
        }
        p {
          @include font-section-content;
          width: 400px;
          z-index: 100;
          position: relative;

          @include media(1315px) {
            margin: 20px auto;
          }
          @include media(768px) {
            padding-left: 60px;
            width: 600px;
          }
          @include media(720px) {
            width: auto;
          }
          @include media(480px) {
            padding-left: 0;
          }
        }
      }
      .benfits-grid {
        display: block;
        max-width: 600px;

        @include media(1315px) {
          margin: 0 auto;
        }

        ul {
          display: flex;
          justify-content: center;
          align-items: stretch;
          flex-wrap: wrap;
          background-color: transparent;
          list-style-type: none;

          li {
            width: calc(33% - 10px);
            padding: 10px;
            box-sizing: border-box;
            margin: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border: 1px solid $black60;
            user-drag: none;
            user-select: none;

            @include media(630px) {
              width: 150px;
              height: 130px;
            }
            @include media(480px) {
              width: calc(50% - 5px);
              height: 190px;

              &:nth-child(even) {
                margin-right: 0;
              }
              &:nth-child(odd) {
                margin-left: 0;
              }
            }

            div {
              display: block;
              height: 64px;
              width: 100%;
              flex: 1;
              margin-bottom: 10px;
              background-image: url('../assets/apple-logo-light.svg');
              background-repeat: no-repeat;
              background-position: center center;

              @include media(768px) {
                height: 45px;
                width: 45px;
                background-size: contain;
              }
              @include media(480px) {
                height: 35px;
              }
            }
            p {
              @include font-section-content-bold;
              width: 100%;
              display: block;
              margin: 0 auto;
              box-sizing: border-box;
              color: $black0;
              text-align: center;
              
              span {
                display: block;
              }

              @include media(480px) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  #third {
    padding: 80px 0;

    @include media(1024px) {
      padding: 50px 0;
    }
    @include media(768px) {
      padding: 30px 0;
    }

    .wrapper {
      @include wrapper;
      position: relative;

      .image {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 800px;
        height: 500px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        overflow: hidden;

        @include media(1024px) {
          width: 530px;
        }
        @include media(768px) {
          width: 600px;
          height: auto;
          background-position-y: top;
          position: static;
          margin: 0 auto;
          transform: none;
          margin-bottom: 30px;
        }
        @include media(720px) {
          width: 100%;
        }

        img {
          max-width: 100%;
          height: auto;
          opacity:0;
        }
      }
      h2 {
        @include font-section-heading;
        width: 600px;
        z-index: 100;
        position: relative;
        background: rgba($black0, 0.4);

        @include media(1024px) {
          margin-top: 0;
        }
        @include media(768px) {
          margin-top: -160px;
          position: absolute;
          background: rgba($black0, 0.4);
        }
        @include media(720px) {
          width: auto;
        }
        @include media(480px) {
          position: static;
          display: block;
          margin-top: 0;
          background: none;
        }
      }
      p {
        @include font-section-content;
        width: 400px;
        z-index: 100;
        position: relative;

        @include media(768px) {
          padding-left: 60px;
          width: 600px;
        }
        @include media(720px) {
          width: auto;
        }
        @include media(480px) {
          padding-left: 0;
        }

        strong {
          @include font-section-content-bold;
        }
      }
      .big-button-with-icon {
        z-index: 100;
        position: relative;

        @include media(768px) {
          margin-left: 60px;
        }
        @include media(600px) {
          margin-left: auto;
        }
      }
    }
  }
}
