#hero-cards {
  display: block;
  width: 100%;
  margin-top: 60px;

  .wrapper {
    @include wrapper;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;


    #cards {
      flex: 1;
      margin-right: 20px;

      @include media(1024px) {
        margin-right: 0;
      }

      ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          height: 280px;
          background-size: cover;
          background-position: center center;
          transition: 0.2s transform ease-in-out;

          &:hover {
            transform: scale(1.02);
          }
          @include media(480px) {
            width: 100%;
            height: 150px;
          }

          a {
            text-decoration: none;

            p {
              @include font-hero-card;
              padding: 0 10px;
              
              strong {
                display: block;
              }
            }
          }
        }
      }
    }
    #facebook {
      box-sizing: border-box;
      border: 1px solid $black40;
      background: $black0;
      
      @include media(1024px) {
        display: none;
      }
    }
  }
}
