#hero {
  background-color: black;
  background-position: center center;
  background-size: cover;

  .wrapper {
    @include wrapper;
    padding-top: 165px;
    padding-bottom: 200px;

    @include media(1024px) {
      padding-top: 185px;
      padding-bottom: 155px;
    }

    h1 {
      @include font-hero-heading;
      width: 700px;
      margin: 0 auto 30px 0;
    }
    p.subtitle {
      @include font-hero-subheading;
      width: 700px;
      margin-bottom: 100px;
    }
  }
}