#technology-picker {
  margin-top: 60px;

  @include media(1024px) {
    margin-top: 50px;
  }
  @include media(480px) {
    margin-top: 30px;
  }

  .wrapper {
    @include wrapper;

    h2 {
      @include font-section-heading;
      margin-top: 0;
      width: 800px;

      @include media(768px) {
        width: 100%;
      }
    }
    p.subtitle {
      @include font-section-content-bold;
      width: 600px;

      @include media(768px) {
        width: 100%;
      }
    }
    .picker-flex {
      display: flex;
      justify-content: center;
      align-items: stretch;
      margin-top: 40px;

      @include media(1024px) {
        margin-top: 20px;
      }
      @include media(768px) {
        flex-wrap: wrap;
        display: block;
      }

      ul.choices {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        width: 43%;
        background-color: $black0;
        list-style-type: none;

        @include media(1024px) {
          width: 50%;
        }
        @include media(768px) {
          width: calc(100% + 40px);
          flex-wrap: nowrap;
          overflow-x: scroll;
          -webkit-overflow-scrolling: touch;
          justify-content: flex-start;
          align-items: stretch;
          margin-bottom: 30px;
          margin-left: -20px;
          margin-right: -20px;
        }

        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          height: 33.333%;
          width: 33.333%;
          border-right: 1px solid #EAEAEC;
          border-bottom: 1px solid #EAEAEC;
          padding: 10px;
          box-sizing: border-box;
          user-drag: none;
          user-select: none;

          @include media(768px) {
            width: 150px;
            height: 130px;
            flex: none;
          }
          @include media(480px) {
            width: 110px;
            height: 90px;
          }

          &:hover {
            cursor: pointer;
            background: $black20;
          }
          &:active, &.active {
            cursor: pointer;
            background: $black60;

            p.technology-title {
              color: $black80;
            }
          }

          .technology-logo {
            display: block;
            height: 64px;
            width: 100%;
            flex: 1;
            margin-bottom: 10px;
            background-image: url('../assets/swift-logo-dark.svg');
            background-repeat: no-repeat;
            background-position: center center;

            @include media(768px) {
              height: 45px;
              width: 45px;
              background-size: contain;
            }
            @include media(480px) {
              height: 35px;
            }
          }
          p.technology-title {
            width: 100%;
            display: block;
            margin: 0 auto;
            box-sizing: border-box;
            color: $black60;
            font-size: 18px;
            font-weight: 300;
            line-height: 22px;
            text-align: center;

            @include media(480px) {
              font-size: 14px;
            }
          }
        }
      }
      .timetable {
        flex: 1;
        background-color: $black0;

        @include media(768px) {
          width: 100%;
        }

        .table-header {
          background: $black80;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 15px;
          box-sizing: border-box;

          p {
            display: block;
            margin: 0;
            color: $black0;
            font-size: 13px;
            font-weight: 300;
            line-height: 16px;

            &:nth-child(1) {
              flex: 1;
            }
            &:nth-child(2) {
              width: 200px;
              text-align: right;
              padding-right: 20px;
              box-sizing: border-box;

              @include media(480px) {
                display: none;
              }
            }
          }
        }
        ul.table-content {
          list-style-type: none;
          height: 388px;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;

          @include media(1024px) {
            height: 330px;
          }

          li {
            background: $black0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 15px;
            box-sizing: border-box;

            &.hidden {
              display: none;
            }
            &:hover {
              background: $black20;
              cursor: pointer;
            }
            @include media(480px) {
              flex-wrap: wrap;
              justify-content: space-around;
              border-bottom: 1px solid $black20;
            }

            p {
              display: block;
              margin: 0;
              color: $black80;
              font-size: 13px;
              font-weight: 300;
              line-height: 16px;

              a {
                color: inherit;
                text-decoration: none;
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
              }

              &:nth-child(1) {
                flex: 1;

                @include media(480px) {
                  display: block;
                  width: 100%;
                  flex: none;
                  text-align: center;
                  margin-bottom: 10px;
                }
              }
              &:nth-child(2) {
                width: 200px;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
}
